@model IEnumerable<MvcTicSys.Tbl_Kullanicilar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sisteme Hosgeldiniz. Kullanici Kaydiniz Tamamlanmistir.</h2>
<h3>Lutfen Kullanici Girisi Yapiniz.</h3>
